@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewBag.name</h1>
@model List<Bowler>

<div>
    <a asp-controller="Home" asp-action="NewBowler"> New Bowler </a>
</div>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>

            <td>Bowler Lastname: </td>
            <td>Bowler Firstname: </td>
            <td>Bowler MiddleInit: </td>
            <td>Bowler Address: </td>
            <td>Bowler City: </td>
            <td>Bowler State: </td>
            <td>Bowler Zip: </td>
            <td>Bowler Phone Number: </td>
            <td>TeamID: </td>
            <td>BowlerID: </td>
            @*<td>TeamName: </td>*@

        </tr>
    </thead>

    <tbody>

        @foreach (var x in Model)
        {
        <tr>

            <td>@x.BowlerLastName </td>
            <td>@x.BowlerFirstName </td>
            <td>@x.BowlerMiddleInit </td>
            <td>@x.BowlerAddress </td>
            <td>@x.BowlerCity </td>
            <td>@x.BowlerState </td>
            <td>@x.BowlerZip </td>
            <td>@x.BowlerPhoneNumber </td>
            <td>@x.TeamID</td>
            <td>@x.BowlerID</td>
            @*<td>@x.TeamName.TeamName</td>*@


                <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@x.BowlerID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.BowlerID">Delete</a></td>

        </tr>

        }


    </tbody>
</table>

